@import "styles/mixins";

.container {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.header {
  h1 {
    font-size: var(--fs-800);
    font-weight: var(--fw-semi-bold);
    padding-bottom: 0.5em;
  }
  height: var(--header-height);
  background-image: url("../public/pattern-bg.png");
  color: var(--clr-primary-100);
  text-align: center;
  padding-top: 2em;
  background-size: cover;
  background-repeat: no-repeat;
}

.info {
  background: var(--clr-primary-100);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  width: 80%;
  padding: 2em;
  z-index: 2;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: calc(var(--header-height) - 90px);
  left: 0;
  right: 0;
  div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .8em;
    & p:first-of-type {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: var(--fw-bold);
      color: var(--clr-primary-300);
      font-size: var(--fs-300);
    }
    & p:nth-of-type(2) {
      font-weight: var(--fw-bold);
      color: var(--clr-primary-600);
      font-size: var(--fs-700);
    }
  }
  @include tablet() {
    grid-template-columns: 1fr;
    text-align: center;
    div {
      gap: 0;
    }
  }
  @include mobile() {
    gap: 1em;
  }
}

.homeMap {
  z-index: 1;
  width: 100vw;
  height: calc(100vh - var(--header-height));
}
